@CHARSET "ISO-8859-1";
body{
font-family:Helvetica;
font-size:14px;
text-align:center;
background-color:#ddd;
}
body a:link{
	text-decoration:none;
	color:#1982D1;
}
body a:visited{
	text-decoration:none;
	color:#1982D1;
}
body a:hover{
	text-decoration:underline;
}

.error{
color:red;
}
#container{
	background-color:white;
	width:925px;
	margin:0 auto;
	position:relative;
	text-align:left;
	margin-top:50px;
	padding:20px;
	padding-top:50px;
	border-radius:5px;
	padding-bottom:50px;
	border-bottom:1px solid #ddd;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
#container #head{
	width:925px;
	min-height:200px;
	
	margin-bottom:20px;
	font-weight:bold;
	font-size:40px;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}
#head img{
	float:left;
	width:200px;
}
label{
	font-size:20px;
}
#login input,#register input{
	height:30px;
	width:200px;
	color:#555;
	font-size:19px;
}
#register select{
	height:30px;
	width:100px;
	font-size:19px;
}
#login-ti, #reg{
	margin-bottom:20px;
	font-size:30px;
	border-bottom:1px solid #eee;
	
}

}
#login a{
	text-decoration:none;
	
}
#login a:hover{
	text-decoration:none;
}

.button{
	min-width:65px;
	font-size:19px;
	background-color:#222;
	border:none;
	border-radius:3px;
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3);
	cursor:pointer;
	padding:5px 20px 5px 20px;
	
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
	color:#EEE;
}

.button:active{
	background-color:#1982D1;
	color:#BFDDF3;
}
#register .button{
	width:100px;
	color:#EEE;
}
#register{
	padding:15px;
	margin:0 auto;
	background-color:#DDD;
	border:1px solid lightGrey;
	width:600px;
	border-radius:3px;
}


#login{
	padding:15px;
	margin:20px 250px;
	background-color:#DDD;
	border:1px solid lightGrey;
	width:400px;
	border-radius:3px;
}
#login a{
	text-decoration:none;
}

#login .button{
	color:#EEE;
	width:auto;
}

#nav{
	height:28px;
	background-color:black;
	color:#ccc;
	text-decoration:none;
	font:normal 13px/28px sans-serif;
	position:fixed;
	top:0;
	min-width:925px;
	width:100%;
	z-index:9999;
	background-color:#464646;
	left:0;
}
#top-bar1 li{
	text-decoration:none;
	position:relative;
	overflow:hidden;
	float:left;
	color:#ccc;
}
#top-bar2 li{
	
	text-decoration:none;
	position:relative;
	overflow:hidden;
	float:right;
	color:#ccc;
}
#top-bar2 a{
	color:#ccc;
	text-decoration:none;
	padding:0px 5px 0px 5px;
	width:auto;
	border-left:2px solid #363636;
	display:block;
	
}

#home a{
	
	color:#ccc;
	text-decoration:none;
	padding:0px 5px 0px 5px;
	width:35px;
	border-right:2px solid #363636;
	display:block;
	margin-top:-13px;
	
}
#nav a:hover{
	background-color:#363636;
}
#nav ul{
	margin-top:0px;
	padding-top:0px;
}

#newpost{
	clear:all;
	padding:15px;
	margin:0 auto;
	background-color:#DDD;
	border:1px solid lightGrey;
	width:600px;
	border-radius:3px;
	margin-top:50px;
}

#newpost-ti{
	font-size:32px;
	margin-bottom:20px;
	border-bottom:1px solid #fff;
}
#newpost input[type=text]{
	height:28px;
	width:600px;
	font-size:21px;
}
#newpost textarea{
	height:400px;
	font-size:14px;
	width:600px;
	font-face:Helvetica;
}
#posts{
	
	width:600px;
	position:relative;
	
	
}

.top10{
	border-bottom:1px solid #DDD;
	padding-bottom:20px;
	
}
.top10 h1{
	margin-bottom:5px;
}
.top10 h1 a{
	text-decoration:none;
	color:black;
	
}
.top10 h1 a:hover{
	color:#1982D1;
}
.top10 img{
max-width:100%;
}

.created{
	color:#bbb;
	margin-bottom:5px;
	font-size:13px;
	font-family:Helvetica;
}

.author{
	font-size:13px;
	color:#bbb;
	padding-top:10px;
}
.author a{
	text-decoration:none;
	color:#1982D1;
}

.author a:hover{
	text-decoration:underline;
}

.edit{
	float:right;
	margin-left:5px;
}

.edit a{
	display:block;
	padding:1px 7px 1px 7px;
	text-decoration:none;
	background-color:#ddd;
	border-radius:4px;
	color:black;
	font-size:13px;
}
.edit a:hover{
	background-color:#888;
	color:white;
	text-decoration:none;
}

#post-page{
	width:800px;
	margin:0px auto;
}
#post-page img{
max-width:100%;
}

#postComment{
	width:580px;
	border-radius:3px;
	background-color:#ddd;
	border:1px solid lightGrey;
	margin:0px auto;
	padding:10px;
	
}
#postComment textarea{
	width:99%;
	margin-top:30px;
	height:200px;
}
#postComment .button{
	margin-top:15px;

}

#comments{
	padding-top:20px;
	width:500px;
	margin:0px auto;

}
#comments li .author{
	color:#575757;
}
#comments li{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:-35px;
	display:box;
	overflow:hidden;
	padding:10px;
	background-color:#ddd;
	border:1px solid lightGrey;
	
}
#archive, #recentComments{
	width:250px;
	float:right;
	clear:both;
}
#archive li, #recentComments li{
	margin-left:-40px;
	overflow:hidden;
	padding:5px;
	
}

#archive h2, #recentComments h2{
	font-size:20px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding-left:5px;
}

#user{
	width:600px;
	margin:0px auto;
	border-radius:10px;
	background-color:#c5c5c5;
	padding:10px;
}
#user img{
	float:right;
	padding:10px;
}











